<!-- src/app/app-header/app-header.component.html -->
<header class="header">
  <div class="logo">Objective</div>
  <nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
      <li class="nav-item"><a routerLink="/characters" class="nav-link">Personagens</a></li>
      <li class="nav-item"><a routerLink="/about" class="nav-link">Sobre</a></li>
      <li class="nav-item"><a routerLink="/contact" class="nav-link">Contato</a></li>
    </ul>
  </nav>
</header>
