.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; // Cor do fundo do cabeçalho
  padding: 10px 20px;
  color: #555555;
  margin-bottom: 24px;

  .logo {
    width: 96px;
    height: 24px;
    opacity: 1;

    .nav-link {
      text-decoration: none;
      color: inherit; // Mantém a cor do texto igual ao cabeçalho
      font-size: 24px; // Ajustar tamanho da fonte se necessário
    }
  }

  .navbar {
    .nav-list {
      list-style: none;
      display: flex; // Flex para desktop
      margin: 0;
      padding: 0;

      .nav-item {
        margin-left: 20px; // Espaçamento entre os itens do menu

        .nav-link {
          text-decoration: none;
          color: #555555;
          padding: 10px;
          transition: background-color 0.3s;

          &:hover {
            background-color: rgba(255, 255, 255, 0.2); // Efeito de hover
            border-radius: 4px; // Arredondar cantos no hover
          }
        }
      }

      .nav-item-bold {
        font-weight: bold;
      }

      .nav-item-bold-cb {
        border: 1px solid transparent;
        color: #555555;
        font-weight: bold;
        background-color: #F5F5F5;
        border-radius: 4px;
        opacity: 1;
        align-items: center;
        gap: 5px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column; // Mudar para coluna
    align-items: center; // Centralizar itens
    padding: 10px; // Ajustar padding
  }

  .navbar {
    .nav-list {
      flex-direction: column; // Exibir itens do menu em coluna
      margin-top: 10px;

      .nav-item {
        margin-left: 0; // Remover margens laterais
        margin-top: 10px; // Adicionar margens verticais
        text-align: center; // Centralizar texto
      }
    }
  }
}
