.footer-pagination {
  background-color: white;
  padding: 20px;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1); // Sombra leve para dar efeito blackout
  position: inherit;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
