/* Estilos padrão para telas grandes */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #e5e5e5;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #555555;
  text-align: left;
}

.search-container {
  top: 183px;
  left: 113px;
  width: 295px;
  height: 32px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  opacity: 1;
  display: flex;
  justify-content: center;
  margin: 20px 0;

  .input-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
  }

  input {
    width: 100%;
    padding: 10px 40px 10px 15px; // Espaço à direita para o ícone
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }

  .search-icon {
    position: absolute;
    right: 10px; // Posiciona o ícone à direita dentro do input
    top: 65%;
    transform: translateY(-50%); // Centraliza verticalmente o ícone
    width: 24px; // Ajusta o tamanho do ícone
    height: 24px;
    pointer-events: none;
  }
}

.character-coluns {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: #8e8e8e;

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 8px solid #e5e5e5;
  }

  th:first-child {
    width: 30%;
  }

  th:nth-child(2) {
    width: 40%;
  }

  th:nth-child(3) {
    width: 30%;
  }
}

.character-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: -9px;
  th,
  td {
    border-radius: 2px solid;
    border-bottom: 8px solid #e5e5e5;
    padding: 12px;
    text-align: left;
    background-color: transparent;

    &:first-child {
      width: 30%;
    }

    &:nth-child(2) {
      width: 40%;
    }

    &:nth-child(3) {
      width: 30%;
    }
  }
  tr {
    background-color: white;
    position: relative;

    .hover-message {
      display: none;
      position: absolute;
      top: 50%;
      left: 80%;
      transform: translate(-50%, -50%);
      background-color: #007bff;
      color: white;
      padding: 5px 10px;
      border-radius: 4px;
      font-size: 14px;
      white-space: nowrap;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 10;
    }
    &:hover {
      background-color: #f9f9f9;
      .hover-message {
        display: block;
      }
    }
    tr:hover {
      background-color: #f1f1f1;
      cursor: pointer;
    }

    .character-info {
      display: flex;
      align-items: center;

      .character-image {
        width: 50px;
        height: 50px;
        border-radius: 4px;
        margin-right: 10px;
      }

      span {
        font-size: 18px;
      }
    }
  }
}

/* Estilos para a tabela */
.character-info {
  display: flex;
  align-items: center;
}

.footer-pagination {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}

/* Paginação */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  button {
    padding: 10px;
    border: 1px solid transparent;
    background-color: #f5f5f5;
    color: #8e8e8e;
    border-radius: 4px;
    cursor: pointer;

    &.active {
      cursor: not-allowed;
      background-color: #f0f0f0;
      color: #ccc;
      cursor: not-allowed;
    }

    &:disabled {
      background-color: #f0f0f0;
      color: #ccc;
    }

    &:hover:not(:disabled) {
      background-color: #0056b3;
      color: white;
    }
  }
}

/* Estilos para telas pequenas */
@media (max-width: 768px) {
  .container {
    padding: 10px;
    background-color: #e5e5e5;
  }

  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .search-container {
    justify-content: center;
    margin-bottom: 20px;

    .input-wrapper {
      max-width: 300px;
    }

    input {
      padding: 8px 40px 8px 15px;
    }

    .search-icon {
      position: absolute;
      right: 10px; // Posiciona o ícone à direita dentro do input
      top: 65%;
      transform: translateY(-50%); // Centraliza verticalmente o ícone
      width: 24px; // Ajusta o tamanho do ícone
      height: 24px;
      pointer-events: none;
    }
  }

  /* Esconder colunas extras e expandir a coluna de personagens */
  th:nth-child(2), td:nth-child(2), /* Esconder a coluna de séries */
  th:nth-child(3), td:nth-child(3)  /* Esconder a coluna de eventos */ {
    display: none;
  }

  /* Expandir a coluna de personagens */
  th:nth-child(1),
  td:nth-child(1) {
    width: 100%;
  }

  /* Ajustar o estilo dos personagens */
  .character-table {
    width: 100%;

    .character-info {
      flex-direction: row;
      padding: 10px;
      background-color: white;
      border-radius: 8px;
      margin-bottom: 10px;

      .character-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }

      span {
        font-size: 18px;
      }
    }
  }

  /* Paginação para tela pequena */
  .footer-pagination {
    padding: 15px 0;
  }

  .pagination {
    gap: 5px;
  }
}
